.chipButtonsArea {
    position: relative;
}


/* .ovalLabel5 {
    position: absolute;
    left: 50%;
    margin-left: -10%;
    width: 20%;
    cursor: pointer;
} */

.chipButtonsAreaTop {
    position: absolute;
    width: 100%;
}

.svgBetBtnOutline {
    stroke: #fff;
    stroke-width: 0.5;
    stroke-opacity: 0.5;
}

.betBtnFlash {
    animation: flashLoop 1.5s infinite;
    fill: #000;
}

.stopBetFlash {
    opacity: 0.8;
}

@keyframes flashLoop {
    0% {
        opacity: 0.3;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.3;
    }
}

@media all and (min-aspect-ratio: 970 / 600) {
    /*LANDSCAPE MODE*/
    .chipButtonsArea {
        margin: 0 auto;
        top: 28%;
    }
}

@media all and (max-aspect-ratio: 520 / 600) {
    /*PORTRAIT MODE*/
    .chipButtonsArea {
        margin: 0 auto;
        top: 50%;
    }
}

@media all and (max-aspect-ratio: 970 / 600) and (min-aspect-ratio: 520 / 600) {
    /*SQUARE (DESKTOP) MODE*/
    .chipButtonsArea {
        top: 42%;
    }
}