.playerCards,
.dealerCards {
    position: relative;
}

@media all and (min-aspect-ratio: 970 / 600) {
    /*LANDSCAPE MODE*/
    .playerCards {
        width: 56%;
        top: 54%;
        margin: 0 auto;
    }
    .dealerCards {
        width: 56%;
        top: 22%;
        margin: 0 auto;
    }
}

@media all and (max-aspect-ratio: 520 / 600) {
    /*PORTRAIT MODE*/
    .playerCards {
        width: 100%;
        top: 38%;
    }
    .dealerCards {
        width: 100%;
        top: 18%;
    }
}

@media all and (max-aspect-ratio: 970 / 600) and (min-aspect-ratio: 520 / 600) {
    /*SQUARE (DESKTOP) MODE*/
    .playerCards {
        width: 70%;
        top: 54%;
        margin: 0 auto;
    }
    .dealerCards {
        width: 70%;
        top: 27%;
        margin: 0 auto;
    }
    /*     .playerCardC {
        width: 70%;
        top: 32%;
        margin: 0 auto;
    } */
}