.cashBox {
    fill: #231f20;
    stroke: #5b5b5b;
    stroke-miterlimit: 10;
}

@media all and (min-aspect-ratio: 970 / 600) {
    /*LANDSCAPE MODE*/
    .cashDisplays {
        width: 37%;
        float: right;
        margin-right: 1%;
        margin-top: 1%;
    }
}

@media all and (max-aspect-ratio: 520 / 600) {
    /*PORTRAIT MODE*/
    .cashDisplays {
        width: 45%;
        float: right;
        margin-right: 1%;
        margin-top: 1%;
    }
}

@media all and (max-aspect-ratio: 970 / 600) and (min-aspect-ratio: 520 / 600) {
    /*SQUARE (DESKTOP) MODE*/
    .cashDisplays {
        width: 37%;
        float: right;
        margin-right: 1%;
        margin-top: 1%;
    }
}

@keyframes glow {
    0% {
        opacity: 0.5;
        fill: #ff004c;
    }
    50% {
        opacity: 1;
        fill: #231f20;
    }
    100% {
        opacity: 0.5;
        fill: #ff004c;
    }
}

.glow {
    fill: #231f20;
    animation: glow 1s infinite;
}