.playerCardLbls,
.dealerCardLbls {
    position: relative;
}

.lblSizeBig {
    position: absolute;
}

@media all and (min-aspect-ratio: 970 / 600) {

    /*LANDSCAPE MODE*/
    .playerCardLbls {
        top: 70%;
    }

    .dealerCardLbls {
        top: 40%;
    }

    .lblSizeBig {
        width: 56%;
        padding-bottom: 4%;
        left: 50%;
        margin-left: -28%
    }
}

@media all and (max-aspect-ratio: 520 / 600) {

    /*PORTRAIT MODE*/
    .playerCardLbls {
        top: 50%;
    }

    .dealerCardLbls {
        top: 30%;
    }

    .lblSizeBig {
        width: 100%;
        padding-bottom: 4%;
        left: 0
    }
}

@media all and (max-aspect-ratio: 970 / 600) and (min-aspect-ratio: 520 / 600) {

    /*SQUARE (DESKTOP) MODE*/
    .playerCardLbls {
        top: 65%;
    }

    .dealerCardLbls {
        top: 40%;
    }

    .lblSizeBig {
        width: 68%;
        padding-bottom: 4%;
        left: 50%;
        margin-left: -34%
    }
}